<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857584310644-qmfklqioola2tdlkufp46rmcq2pqhagc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857584310644-qmfklqioola2tdlkufp46rmcq2pqhagc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857584310644-s7irrsp90tmqjrak1b98rrpndbukr45b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK68Ab1xBLL3eCIwuITbDGYbFEAQC7Q1M</string>
	<key>GCM_SENDER_ID</key>
	<string>857584310644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.posta</string>
	<key>PROJECT_ID</key>
	<string>agrich-111be</string>
	<key>STORAGE_BUCKET</key>
	<string>agrich-111be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857584310644:ios:c49a82263745758226b421</string>
	<key>DATABASE_URL</key>
	<string>https://agrich-111be-default-rtdb.firebaseio.com</string>
</dict>
</plist>